/* Firefox (uncomment to work in Firefox) */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
} */
/* Windows Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
  border: 2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #62a34b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #62a34b;
}
